.navbar {
  height: 90px;
  width: 100%;
  background: #151b8d;
  color: #ffff;
  text-align: center;
}
.navbarlogo {
  position: absolute;
  width: 130px;
  height: 75px;
  left: 6% !important;
  margin-top: 5px !important;
}
.adress,
.number {
  padding-top: 20px;
}
.suggestion {
  margin: 0 auto;
  text-align: center;
  margin: 20px 0 10px 0;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .adress,
  .number {
    padding-left: 120px;
  }
  .navbarlogo {
    position: absolute;
    width: 110px;
    height: 65px;
    left: 6% !important;
    margin-top: 10px !important;
  }
}
